.body {
    margin: 0;
    padding: 0;
    background-color: #F8F5E9;
  }
  
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #F8F5E9;
}


/*  ======= CREATE NEW USER ======= */
.create-button{
    width: 350px;
    height: 220px;
    background-color: #E6C79C;
    color: white;
    font-size: 24px;
    border: none;
    cursor:pointer;
    margin: 10px;
}

.create-popup {
    width: 400px;
    height: auto;
    max-height: 500px;
    background: #E6C79C;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 30px;
    box-sizing: border-box;
    visibility: hidden;
    border-style: solid;
    border-color: black;
}
.create-popup h2 {
    color: #FFF;
    font-size: 24px;
    margin-bottom: 20px;
}
.create-popup p {
    color: #FFF;
    font-size: 16px;
    margin-bottom: 20px;
}
.create-popup form {
    margin-bottom: 20px;
}
.create-popup label {
    color: #FFF;
    display: block;
    font-size: 16px;
    margin-bottom: 10px;
}
.create-popup input[type="text"],
.create-popup input[type="tel"],
.create-popup input[type="file"] {
    width: 100%;
    padding: 8px;
    border-radius: 4px;
    border: none;
}
.create-popup input[type="submit"] {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    border: none;
    background: #F24E1E;
    color: #FFF;
    font-size: 16px;
    cursor: pointer;
}
.create-popup input[type="submit"]:hover {
    background: #D8390C;
}


/*  ======= LIST USERS ======= */
.list-button{
    width: 350px;
    height: 220px;
    background-color: #CDDFA0;
    color: white;
    font-size: 24px;
    border: none;
    cursor:pointer;
    margin: 10px;
}
.list-popup {
    width: 400px;
    height: 400px;
    background-color: #CDDFA0;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    visibility: hidden;
    border-style: solid;
    border-color: black;
}
.open-list-popup {
    visibility: visible;
}
.close-list-popup {
    visibility: hidden;
}
.list-popup h2 {
    margin-top: 0;
}
.applicant-list {
    max-height: 300px;
    overflow-y: scroll;
    margin-bottom: 10px;
}
.applicant-list table {
    width: 100%;
    border-collapse: collapse;
}
.applicant-list th,
.applicant-list td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
.applicant-list th {
    background-color: #4CAF50;
    color: white;
}
.list-popup button {
    margin-top: auto;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
  }

/*  ======= SEARCH USERS ======= */
.search-button{
    width: 350px;
    height: 220px;
    background-color: #6FD08C;
    color: white;
    font-size: 24px;
    border: none;
    cursor:pointer;
    margin: 10px;
}
.search-popup {
    width: 400px;
    height: 400px;
    background-color: #6FD08C;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    visibility: hidden;
    border-style: solid;
    border-color: black;
    
}
.search-popup h2 {
margin-top: 0;
}
.search-popup form {
margin-bottom: 10px;
}
.search-popup label {
display: block;
margin-bottom: 5px;
}
.search-popup input[type="text"],.search-popup button {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
}
.search-popup button {
background-color: #4CAF50;
color: white;
border: none;
cursor: pointer;
}
.search-results table {
width: 100%;
border-collapse: collapse;
}
.search-results th,
.search-results td {
padding: 8px;
text-align: left;
border-bottom: 1px solid #ddd;
}
.search-results th {
background-color: #4CAF50;
color: white;
}





/*  ======= UPDATE USERS ======= */
.update-button{
    width: 350px;
    height: 220px;
    background-color: #D33F49;
    color: white;
    font-size: 24px;
    border: none;
    cursor:pointer;
    margin: 10px;
}
.update-popup {
    width: 400px;
    height: 400px;
    background-color: #D33F49;
    border-radius: 10px;
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    visibility: hidden;
    border-style: solid;
    border-color: black;
    
}
.update-popup h2 {
    margin-top: 0;  
}
.update-popup form {
    margin-bottom: 20px;
}
.update-popup form label {
    display: block;
    margin-bottom: 5px;
}
.update-popup form input[type="text"] {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
}
.update-popup form button {
    background-color: white;
    color: #D33F49;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}
.update-popup .search-results {
    margin-bottom: 20px;
}
.update-popup .search-results table {
    width: 100%;
}
.update-popup .search-results th,
.update-popup .search-results td {
    padding: 5px;
    text-align: left;
    border-bottom: 1px solid white;
}
.update-popup .search-results th {
    font-weight: bold;
}
.update-popup .search-results td {
    color: #F8F5E9;
}
.update-popup button {
    background-color: white;
    color: #D33F49;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
} 


/*  ======= DELETE USERS ======= */
.delete-button {
    width: 350px;
    height: 220px;
    background-color: #78586F;
    color: white;
    font-size: 24px;
    cursor:pointer;
    border: none;
    margin: 10px;
}
.delete-popup {
    width: 400px;
    height: 400px;
    background-color: #78586F;
    border-radius: 10px;
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    visibility: hidden;
    border-style: solid;
    border-color: black;
  }
  
  .delete-popup h2 {
    margin-top: 0;
  }
  
  .delete-popup form {
    margin-bottom: 20px;
  }
  
  .delete-popup form label {
    display: block;
    margin-bottom: 5px;
  }
  
  .delete-popup form input[type="text"] {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
  }
  
  .delete-popup form button {
    background-color: white;
    color: #78586F;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  .delete-popup .search-results {
    margin-bottom: 20px;
  }
  
  .delete-popup .search-results table {
    width: 100%;
  }
  
  .delete-popup .search-results th,
  .delete-popup .search-results td {
    padding: 5px;
    text-align: left;
    border-bottom: 1px solid white;
  }
  
  .delete-popup .search-results th {
    font-weight: bold;
  }
  
  .delete-popup .search-results td {
    color: #F8F5E9;
  }
  
  .delete-popup .delete-button {
    display: block;
    width: 100%;
    background-color: white;
    color: #78586F;
    border: none;
    border-radius: 5px;
    padding: 20px;
    font-size: 20px;
    margin-bottom: 10px;
    cursor: pointer;
  }
  
  .delete-popup .close-button {
    display: block;
    width: 100%;
    background-color: white;
    color: #78586F;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }
  

  
  /* Media queries for responsive adjustments */
  
@media (max-width: 768px) {
.container {
    flex-direction: column;
    height: auto;
    padding: 20px;
}

.title {
    margin-top: 20px;
    font-size: 24px;
}

.create-button,
.list-button,
.search-button,
.update-button,
.delete-button {
    width: 100%;
    height: 120px;
    margin: 10px 0;
}
}
