body {
  margin: 0;
  padding: 0;
  background-color: #F8F5E9;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  margin: 0 auto;
}

.title {
  text-align: center;
  margin-top: 50px;
  font-size: 32px;
}

.orange-button {
  width: 350px;
  height: 220px;
  background-color: #F24E1E;
  color: white;
  cursor:pointer;
  font-size: 24px;
  border: none;
}

.green-button {
  width: 350px;
  height: 220px;
  background-color: #20C288;
  color: white;
  font-size: 24px;
  cursor:pointer;
  border: none;
}

/* 
Some media additions to make the buttons responsive.
First attempt at this so it can be a little rough.
*/

@media (max-width: 1600px) {
  .container {
    width: 90%;
  }
  
  .orange-button,
  .green-button {
    width: 300px;
    height: 180px;
    font-size: 20px;
  }
  
  .orange-button {
    margin-right: 150px;
  }
}

@media (max-width: 1200px) {
  .title {
    font-size: 60px;
  }
  
  .orange-button,
  .green-button {
    width: 250px;
    height: 160px;
    font-size: 18px;
  }
  
  .orange-button {
    margin-right: 100px;
  }
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    height: auto;
    padding: 20px;
  }
  
  .title {
    margin-top: 20px;
    font-size: 24px;
  }
  
  .orange-button,
  .green-button {
    width: 100%;
    height: 120px;
    margin-right: 0;
    margin-bottom: 20px;
  }
}
