<!DOCTYPE html>
<html>
<head>
  <title>Landing Page</title>
  <link rel="stylesheet" type="text/css" href="applicants.css">
  <meta name="viewport" content= "width=device-width initial-scale=1.0">
</head>
<body>
  <div class="container">
    <!-- Main buttons to select operations --> 
    <button class="create-button" onclick="openPopup('create-popup')">Create</button>
    <button class="list-button" onclick="openPopup('list-popup')">List</button>
    <button class="search-button" onclick="openPopup('search-popup')">Search</button>
    <button class="update-button" onclick="openPopup('update-popup')">Update</button>
    <button class="delete-button" onclick="openPopup('delete-popup')">Delete</button>
    
    <!-- Popups for the user to add the information he needs --> 
    <div class="create-popup" id="create-popup">
        <h2>Create a User</h2>
        <form>
          <label for="name">Name:</label>
          <input type="text" id="name" name="name" placeholder="Enter your name" ><br><br>
      
          <label for="phone">Phone Number:</label>
          <input type="tel" id="phone" name="phone" placeholder="Enter your phone number" ><br><br>
      
          <label for="role">Role:</label>
          <input type="text" id="role" name="role" placeholder="Enter your role" ><br><br>
      
          <label for="photo">Photo:</label>
          <input type="file" id="photo" name="photo" accept="image/*"><br><br>
      
          <input type="submit" value="Submit">
        </form>
    </div>
      
    <div class="list-popup" id="list-popup">
        <h2>List Users</h2>
        <div class="applicant-list">
          <table>
            <thead>
              <tr>
                <th>Name</th>
                <th>Phone Number</th>
                <th>Role</th>
                <th>Status</th>
              </tr>
            </thead>
            <tbody id="applicant-table-body">
                <!-- Iterate over the users and populate the table rows -->
                <tr th:each="user : ${users}">
                <td th:text="${user.name}"></td>
                <td th:text="${user.phoneNumber}"></td>
                <td th:text="${user.role}"></td>
                <td th:text="${user.status}"></td>
                </tr>
            </tbody>
          </table>
        </div>
        <button type="button" onclick="closePopup('list-popup')">Close</button>
    </div>
      
      <div class="search-popup" id="search-popup">
        <h2>Search User</h2>
        <form id="search-form">
          <label for="search-name">Search by Name:</label>
          <input type="text" id="search-name" name="search-name" placeholder="Enter a name" >
          <button type="submit">Search</button>
        </form>
        <div class="search-results">
          <table>
            <thead>
              <tr>
                <th>Name</th>
                <th>Phone Number</th>
                <th>Role</th>
                <th>Status</th>
              </tr>
            </thead>
            <tbody>
              <!-- Search results will be dynamically populated here -->
            </tbody>
          </table>
        </div>
        <button type="button" onclick="closePopup('search-popup')">Close</button>
      </div>

    <div class="update-popup" id="update-popup">
        <h2>Update a User</h2>
        <form>
            <label for="search-name">Search Applicant:</label>
            <input type="text" id="search-name" name="search-name" placeholder="Enter name...">
            <button type="button" onclick="searchApplicant()">Search</button>
        </form>
        <div id="search-results" class="search-results">
            <!-- Search results will be dynamically populated here -->
        </div>
        <form id="update-form">
            <label for="new-status">New Status:</label>
            <input type="text" id="new-status" name="new-status" placeholder="Enter new status...">
            <button type="button" onclick="updateUser()">Update</button>
        </form>
        <button type="button" onclick="closePopup('update-popup')">Close</button>
    </div>
      
    <div class="delete-popup" id="delete-popup">
        <h2>Delete a User</h2>
        <form>
          <label for="search-name">Search Applicant:</label>
          <input type="text" id="search-name" name="search-name" placeholder="Enter name...">
          <button type="button" onclick="searchApplicant()">Search</button>
        </form>
        <div id="search-results" class="search-results">
          <!-- Search results will be dynamically populated here -->
        </div>
        <button class="delete-button" type="button" onclick="deleteUser()">Delete</button>
        <button class="close-button" type="button" onclick="closePopup('delete-popup')">Close</button>
      </div>
      


  </div>


<!-- Main buttons to select operations --> 
<script>
    //OPEN AND CLOSE CREATE POPUP
    function openPopup(popupID) {
        let popup = document.getElementById(popupID);
        popup.style.visibility = "visible";
    }
    function closePopup(popupID) {
        let popup = document.getElementById(popupID);
        popup.style.visibility = "hidden";
    }
</script>
</body>
</html>
